<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server Directory" value="D:\SteamLibrary\steamapps\common\Skyrim Special Edition\server"/>
    <add key="Harbor Directory" value="D:\Harbor"/>
    <add key="Console Collapsed on Launch" value="false"/>
    <add key="Server Signature" value="f3efaf848f2d9f78b567cac334d4a4a5cf3df2c090b22c839468ee757f88bca1"/>
  </appSettings>
</configuration>